/* font-family: 'Open Sans', sans-serif; */
/* agregarle un contorno a las letras: 
-webkit-text-stroke: 2px white;
color: transparent;  */
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header{
    background: rgb(213,0,0);
background: linear-gradient(90deg, rgba(213,0,0,1) 25%, rgba(93,10,10,1) 50%, rgba(0,0,0,1) 75%);
/* background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 10%, rgba(179,117,117,1) 40%, rgba(222,0,0,1) 75%); */
padding: 10px 0px;
}

header img{
    height: 100px;
}

header h1{
    color: rgb(231, 74, 74);
    font-size: 40px;
    /* font-style: italic; */
    margin-left: 20px;
    -webkit-text-stroke: 2px black;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

nav{
    background-color: rgb(231, 74, 74);
    margin-bottom: 32px;
}

nav ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav ul li{
    width: 25%;
    text-align: center;
}

nav ul li a{
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 3px 6px;
}

nav ul li a:hover{
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    color: white;
}

footer{
    background-color: #ccc;
    clear: both;
    color: #333;
    padding: 48px 0px;
    margin-top: 32px;
    text-align: center;
}

.holder{
    max-width: 980px;
    margin: 0 auto;
}

/* inicio home */

.homeimg{
    margin-bottom: 24px;
}

.homeimg img{
    border-radius: 10px;
}

.columnas{
    display: flex;
    flex-direction: row;
}

.river{
    width: 65%;
    margin-right: 30px;
}

.ultimanoticia{
    width: 35%;
    background-color: #ccc;
    padding: 15px;
    border-radius: 5px;
}

nav ul li a.activo{
    background-color: rgba(0, 0, 0, 0.3);
}

.noticia{
    display: flex;
    flex-direction: column;
}
.fotonoticia{
    width: 300px;
    height: 300px;
}

.fotonoticia img{
    border-radius: 5px;
}

.titulo{
    font-weight: 500;
    font-size: 25px;
}

main .noticia a{
    width: 100px;
    margin-top: 5px;
}

/* fin home */

/* inicio partidos */

main div table tbody tr img{
    width: 30px;
    height: 30px;
}
.partidos{
    width: 70%;
    float: right;
    padding-left: 15px;
}
.posiciones{
    width: 30%;
    float: left;
}

.ultimopartido{
padding-left: 15px;
width: 70%;
float: right
}
/* fin partidos */


/* inicio noticias */

.noticias{
    border: 1px solid #cc0000;
    border-radius: 10px;
    margin: 10px 10px 10px 0px;
    padding: 10px;
    overflow: hidden;
}

.noticias img{
    border-radius: 10px;
}

.noticias .info{
    width: 70%;
}

.noticias .info h4{
    color: #e61919;
    font-size: 20px;
    /* font-style: italic; */
    font-weight: bold;
    border-bottom: 1px solid #cc0000;
    /* margin-bottom: 16px; */
    padding-bottom: 8px;
}

.noticias:nth-child(even) img{
    float: right;
    /* margin-left: 10px; */
}

.noticias:nth-child(even) .info{
    float: left;
    padding-right: 20px;
}

.noticias:nth-child(2) .info button{
    position: relative;
    top: 75px;
    left: 10px;
}

.noticias:nth-child(odd) img{
    float: left;
    /* margin-right: 10px; */
}

.noticias:nth-child(odd) .info{
    float: right;
    padding-left: 20px;
    /* margin-left: 10px; */
}

.noticias:nth-child(odd) .info button{
    position: relative;
    top: 30px;
    left: 83%;
}

.noticias:last-child .info button{
    position: relative;
    top: 30px;
    left: 10px;
}
/* fin partidos */

/* inicio traspasos */

.acordition-body{
    overflow: hidden;
    /* display: inline-flex;
    justify-content: space-around; */
}

.jugadores{
    display: inline-flex;
    justify-content: space-evenly;
}

.jugador2022, .jugador2021, .jugador2019, .jugador2018{
    border: 1.5px solid #e30520;
    border-radius: 4px;
    float: left;
    box-sizing: border-box;
    text-align: center;
    width: 20%;
    overflow: hidden;
    margin: 0% 1% 0% 1%;
}

.jugador2022 img{
    max-width: 110%;
    margin-top: 10px;
}

.jugador2022 h5, .jugador2021 h5, .jugador2019 h5, .jugador2018 h5{
    font-size: 20px;
    color: #e30520;
}

.jugador h6, .jugador2021 h6, .jugador2019 h6, .jugador2018 h6{
    font-size: 16px;
}

.jugador2022 p, .jugador2021 p, .jugador2019 p, .jugador2018 p{
    font-size: 14px;
    margin: 0px 2px 0px 2px;
}

.jugador2022:nth-child(1) h6{
    color: rgb(71, 71, 71);
}

.jugador2022:nth-child(2) h6{
    color: blue;
}

.jugador2022:nth-child(3) h6{
    color: green;
}

.jugador2022:nth-child(4) h6{
    color: blue;
}

.jugador2022:nth-child(5) h6{
    color: green;
}

.jugador2022:nth-child(6) h6{
    color: rgb(71, 71, 71);
}

.jugador2022:nth-child(7) h6{
    color: blue;
}

.jugador2021 img{
    max-width: 125%;
    position: relative;
    right: 10px;
}

.jugador2021:nth-child(1) h6{
    color: rgb(71, 71, 71);
}

.jugador2021:nth-child(2) h6{
    color: green;
}

.jugador2021:nth-child(3) h6{
    color: blue;
}

.jugador2021:nth-child(4) h6{
    color: green;
}

.jugador2021:nth-child(5) h6{
    color: green;
}

.jugador2021:nth-child(6) h6{
    color: green;
}

.jugador2021:nth-child(7) h6{
    color: green;
}

.jugador2021:nth-child(8) h6{
    color: rgb(71, 71, 71);
}

.jugador2019 img{
    max-width: 100%;
    margin-top: 10px;
}

.jugador2019:nth-child(1) h6{
    color: green;
}

.jugador2019:nth-child(2) h6{
    color: green;
}

.jugador2019:nth-child(3) h6{
    color: green;
}

.jugador2019:nth-child(4) h6{
    color: blue;
}

.jugador2019:nth-child(5) h6{
    color: blue;
}

.jugador2018 img{
    max-width: 100%;
    margin-top: 10px;
}

.jugador2018:nth-child(1) h6{
    color: green;
}

.jugador2018:nth-child(2) h6{
    color: green;
}

.jugador2018:nth-child(3) h6{
    color: blue;
}

.jugador2018:nth-child(4) h6{
    color: green;
}

/* fin traspasos */