<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<nav>
    <ul>
        <li><a href="/ejemplo1">Ejemplo 1</a></li>
        <li><a href="/ejemplo2">Ejemplo 2</a></li>
        <li><a href="/ejemplo3">Ejemplo 3</a></li>
        <li><a href="/ejemplo4">Ejemplo 4</a></li>
    </ul>
</nav>
