<h1>{{title}}</h1>
<p>Hola {{title}}</p>
<p>¿Qué querés ver?</p>
<nav>
    <ul>
        <li><a href="/casa">Casa</a></li>
        <li><a href="/pelota">Pelota</a></li>
        <li><a href="/flor">Flor</a></li>
        <li><a href="/ejemplo4">Ejemplo 4</a></li>
    </ul>
</nav>
